@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-gradient,
    :where(
            .menu
                li:not(.menu-title, .disabled)
                > *:not(ul, details, .menu-title)
        ):not(summary, .active, .btn):focus {
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-weight: bold; /* Make the text bold */
        -webkit-font-smoothing: antialiased; /* Sharpen the text */
        -moz-osx-font-smoothing: grayscale; /* Sharpen the text for Firefox */
    }
}

.box-shadow-inset {
    -webkit-box-shadow: inset -4px -6px 12px -3px rgba(255, 255, 255, 0.03);
    box-shadow: inset -4px -6px 12px -3px rgba(255, 255, 255, 0.02);
}

.border-gradient {
    position: relative;
    border: 1px solid transparent; /* تنظیم بوردر */
    border-radius: 10px; /* گردی بوردر */
    background: linear-gradient(#09191ECC,#09191ECC) padding-box,
    linear-gradient(180deg, rgba(0, 204, 245, 0.48) 0%, rgba(0, 88, 105, 0.48) 100%) border-box;


}

.swap-gradient{
    background: linear-gradient(90deg, #00CCF5 0%, #0CD6FF 100%);

}
